name: CI

permissions:
  contents: read

on:
  push:
    branches: [ "main", "develop", "*" ]
  pull_request:
    branches: [ "main", "develop", "*" ]
  schedule:
    - cron: "0 10 * * *"
  workflow_dispatch:

jobs:
  ALL:
    strategy:
      matrix:
        os: [ubuntu-24.04, ubuntu-24.04-arm, windows-2025, windows-11-arm, macos-15-intel, macos-26]
        node: [20.x, 21.x, 22.x, 23.x, 24.x, 25.x]
    runs-on: ${{ matrix.os }}
    steps:
      # Setup
      - uses: actions/checkout@v6
      - name: Prepare environment
        uses: ./.github/actions/project-setup
        with:
          runs-on: ${{ matrix.os }}
          node-version: ${{ matrix.node }}
      # Linter
      - name: Run ESLint
        run: npm run lint
      # Build
      - name: Build
        run: npm run build
      # Unit Tests
      - name: Run tests with coverage
        run: npm run test:unit:coverage
      - name: Upload coverage
        uses: actions/upload-artifact@v6
        with:
          name: coverage-${{ matrix.os }}-node-${{ matrix.node }}
          path: ./coverage
