name: CI

on:
  workflow_dispatch:

jobs:
  ALL:
    strategy:
      matrix:
        os: [ubuntu-24.04, ubuntu-24.04-arm, windows-2025, windows-11-arm, macos-15-intel, macos-26]
    runs-on: ${{ matrix.os }}
    steps:
      # Setup
      - uses: actions/checkout@v6
      - name: Prepare environment
        uses: ./.github/actions/project-setup
        with:
          runs-on: ${{ matrix.os }}
      # Linter
      - name: Run ESLint
        run: npm run lint
      # Build
      - name: Build
        run: npm run build
      # Unit Tests
      - name: Run tests with coverage
        run: npm run test:unit:coverage
      - name: Upload coverage
        uses: actions/upload-artifact@v6
        with:
          name: coverage-${{ matrix.os }}
          path: ./coverage
